*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: Arial;
}
h1
{
	font-size:40px;
	text-decoration: underline;
	padding-top:40px;
}
.pfp
{
	padding-top: 35px;
	padding-bottom: 35px;
}
#side
{
	text-align: center;
	width: 25%;
	background-color: #FFC107;
}
aside h2
{
	background-color: #757575;
	color: #FFC107;
}
li
{
	padding-left: 40px;
	text-align: left;
}
.loisir
{
	padding-top: 50px;
}
.name
{
	color:#FFC107;
}
.form
{
	padding-top: 80px;
}
#conteneur
{
	display: flex;
}
h2 + p
{
	padding-bottom: 205px;
}
em
{
  	font-style: normal;
  	font-size: 30px;
  	text-align: center;
  	border-bottom: 3px #FFC107 solid;
  	border-right: 500px white solid;
}
#Openclassroom
{
	padding-top: 40px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#University
{
    display: flex;
    justify-content: space-between;
    height: 25px;
}
.exp
{
	padding-top: 80px;
}
#Design1
{

	padding-top: 40px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#Design2
{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#Design3
{
    display: flex;
    justify-content: space-between;
    height: 25px;
}
.rec
{
	padding-top: 80px;
}
#Recommandations
{
	padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
#content
{
	padding-left: 100px;
}